@font-face {
  font-family: "Special Elite";
  src: url("../fonts/SpecialElite-Regular.ttf") format("truetype");
}

body {
  font-family: "Inter";
  color: black;
  background: white;
  margin: auto;
}

#header-image img {
  width: 400px;
  margin: auto;
  padding-top: 40px;
}
